@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/*Da scroll suave*/
* {
  scroll-behavior: smooth;
}

.img-hero {
  background-image: url(./img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.btn-up {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 221, 221);
  border: 1px solid gray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  transition-duration: auto;
}

.btn-up:hover {
  transition-duration: 1000ms;
  color: white;
  background-color: #343a40;
}

img{
  object-fit: cover;
}

.footer-name{
  text-align: center;
  margin-top: -50px;
  height: 40px;
  color: #343a40;
}